* @spacifici @ravjit-cliqz @jayeshsolanki93 @giota-cliqz
Jenkinfile* @sharath-cliqz @joseph-cliqz @chrmod
Dockerfile* @sharath-cliqz @joseph-cliqz @chrmod
mozilla-release/config/search.txt @chrmod
mozilla-release/config/privacy.txt @chrmod
notes/notes.txt @alina-cliqz @stefanie-cliqz
