*           @spacifici @ravjit-cliqz @moaz-cliqz @jayeshsolanki93
Jenkinfile* @sharath-cliqz @joseph-cliqz @chrmod
Dockerfile* @sharath-cliqz @joseph-cliqz @chrmod
mozilla-release/config/search.txt @chrmod
mozilla-release/config/privacy.txt @chrmod
notes/*     @alina-cliqz stefanie-cliqz
