*           @spacifici @ravjit-cliqz @moaz-cliqz
Jenkinfile* @sharath-cliqz @joseph-cliqz @chrmod
Dockerfile* @sharath-cliqz @joseph-cliqz @chrmod
mozilla-release/config/search.txt @chrmod
mozilla-release/config/privacy.txt @chrmod
