/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

<<<<<<< HEAD
.debug-target-pane__icon {
||||||| merged common ancestors
.debug-target-pane__title {
  align-items: center;
  display: flex;
}

.debug-target-pane__title::before {
  background-image: url(chrome://devtools/skin/images/aboutdebugging-collapse-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  fill: currentColor;
  height: 1em;
  margin-inline-end: 0.5em;
=======
/*
 *  Style for the heading of a debug target pane
 *  +-----------------+---------------+-----------------+
 *  | [Category icon] | Category name | [Collapse icon] |
 *  +-----------------+---------------+-----------------+
 */
.debug-target-pane__heading {
  grid-template-columns: var(--main-subheading-icon-size) max-content calc(var(--base-unit) * 3);
  -moz-user-select: none;
}

.debug-target-pane__icon {
>>>>>>> upstream-releases
  transition: transform 150ms cubic-bezier(.07, .95, 0, 1);
<<<<<<< HEAD
||||||| merged common ancestors
  width: 1em;
  -moz-context-properties: fill;
=======
  transform: rotate(90deg);
}

.debug-target-pane__icon--collapsed {
  transform: rotate(0deg);
}

.debug-target-pane__title {
  cursor: pointer;
>>>>>>> upstream-releases
}

<<<<<<< HEAD
.debug-target-pane__icon--collapsed {
  transform: rotate(-90deg);
||||||| merged common ancestors
.debug-target-pane__title,
.debug-target-pane__title:active,
.debug-target-pane__title:hover,
.debug-target-pane__title:hover:active,
.debug-target-pane__title:link,
.debug-target-pane__title:visited {
  text-decoration: none;
  color: var(--text-color);
}

.debug-target-pane__title--collapsed::before {
  transform: rotate(-90deg);
=======
.debug-target-pane__collapsable {
  overflow: hidden;
  /* padding will give space for card shadow to appear and
     margin will correct the alignment */
  margin-inline: calc(var(--card-shadow-blur-radius) * -1);
  padding-inline: var(--card-shadow-blur-radius);
}

.debug-target-pane__collapsable--collapsed {
  max-height: 0;
>>>>>>> upstream-releases
}

.debug-target-pane__title {
  cursor: pointer;
}