<?xml version="1.0" encoding="utf-8"?>
<!-- Cliqz Start -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cliqz.mobile.test"
    android:sharedUserId="${MOZ_ANDROID_SHARED_ID}"
    android:versionCode="1"
    android:versionName="1.0" >
    <!-- NOTE: Replaced package name. package="org.mozilla.roboexample.test" Cliqz End -->

    <uses-sdk android:minSdkVersion="${MOZ_ANDROID_MIN_SDK_VERSION}"
              android:targetSdkVersion="${ANDROID_TARGET_SDK}"/>
    <!-- TODO: re-instate maxSdkVersion. -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <instrumentation
        android:name="org.mozilla.gecko.FennecInstrumentationTestRunner"
        android:targetPackage="${ANDROID_PACKAGE_NAME}" />

    <!-- Cliqz Start -+>
    <application
        android:label="@string/app_name"> -->
    <application
        android:label="Instrumentation Test">
    <!-- Cliqz End -->

        <uses-library android:name="android.test.runner" />

        <!-- Fake handlers to ensure that we have some share intents to show in our share handler list -->
        <activity android:name="org.mozilla.gecko.RobocopShare1"
                  android:label="Robocop fake activity">

            <intent-filter android:label="Fake robocop share handler 1">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>

        <activity android:name="org.mozilla.gecko.RobocopShare2"
                  android:label="Robocop fake activity 2">

            <intent-filter android:label="Fake robocop share handler 2">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>

        <activity android:name="org.mozilla.gecko.LaunchFennecWithConfigurationActivity"
                  android:label="Robocop Fennec">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
